header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
    background:  rgb(72, 0, 255) linear-gradient(to bottom, rgb(18, 148, 255) 5%, rgb(0, 72, 255)90%);
    color: #ffffff;
}
body{
    margin-top: 15vh;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

section{
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.312);
    width: 200px;
    text-align: center;
}

img{
    width: 150px;
}

footer {
    position:absolute; /* Opcional: cambia a 'absolute' si no quieres que el footer se mantenga fijo */
    bottom: 0;
    left: 0;
    width: 100%; /* Opcional: ajusta el ancho según tus necesidades */
    height: 20px;
    /*background-color: #f8f8f8;  Opcional: color de fondo */
    padding: 20px;/* Opcional: ajusta el relleno según tus necesidades */
    text-align: center; /* Opcional: alinea el texto al centro */
    color: #333; /* Opcional: color del texto */
}


button{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.312);
    border-style: none;
    height: 50px;
    width: 80px;
    margin-top: 20px;
}

button:hover{
    transform: scale(1.1);
}
.botones{
    display: flex;
margin: 10px;
}
nav{
text-align: center;
}
li{
    list-style: none;
}
.container{
    display: flex;
    justify-content: center;    
}